version: '3'

services:
  serviceregistry:
    image: manasip44/citizenconnect:serviceregistry
    container_name: serviceregistry
    ports:
      - "8761:8761"
    networks:
      - citizenconnect_network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8761/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  apigateway:
    image: manasip44/citizenconnect:apigateway
    container_name: apigateway
    ports:
      - "9093:9093"
    networks:
      - citizenconnect_network
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://serviceregistry:8761/eureka/
    depends_on:
      - serviceregistry

  userservice:
    image: manasip44/citizenconnect:userservice
    container_name: userservice
    ports:
      - "9091:9091"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://serviceregistry:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:mysql://userservice_db/userservice?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - LOGGING_LOGSTASH_HOST=logstash
      - LOGGING_LOGSTASH_PORT=5001
    networks:
      - citizenconnect_network
    depends_on:
      - serviceregistry
      - apigateway
      - userservice_db
    volumes:
      - /home:/logs
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9091/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  complaintservice:
    image: manasip44/citizenconnect:complaintservice
    container_name: complaintservice
    ports:
      - "9092:9092"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://serviceregistry:8761/eureka/
      - SPRING_DATASOURCE_URL=jdbc:mysql://complaintservice_db/complaintservice?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    networks:
      - citizenconnect_network
    depends_on:
      - serviceregistry
      - apigateway
      - complaintservice_db
    volumes:
      - /home:/logs
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9092/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  userservice_db:
    image: mysql:8
    container_name: userservice_db
    ports:
      - "3308:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=userservice
    volumes:
      - userservice_database:/var/lib/mysql
    command: --bind-address=0.0.0.0
    networks:
      - citizenconnect_network

  complaintservice_db:
    image: mysql:8
    container_name: complaintservice_db
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=complaintservice
    volumes:
      - complaintservice_database:/var/lib/mysql
    command: --bind-address=0.0.0.0
    networks:
      - citizenconnect_network

  citizenconnectfrontend:
    image: manasip44/citizenconnect:frontend
    container_name: citizenconnectfrontend
    ports:
      - "8081:8081"
    networks:
      - citizenconnect_network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.3.3
    container_name: elasticsearch
    restart: always
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
      - discovery.type=single-node
      - network.host=0.0.0.0
      - http.port=9200
    ports:
      - "9200:9200"
    networks:
      - citizenconnect_network
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
      - ./home/manasi/Documents/GitHub/CitizenConnect/elasticsearch/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch/elasticsearch.yml
      
  kibana:
    image: docker.elastic.co/kibana/kibana:8.3.3
    container_name: kibana
    restart: always
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_HOSTS=["http://elasticsearch:9200"]
    ports:
      - "5601:5601"
    networks:
      - citizenconnect_network
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.3.3
    container_name: logstash
    restart: always
    volumes:
      - ./home/manasi/Documents/GitHub/CitizenConnect/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - ./home/manasi/Documents/GitHub/CitizenConnect/pipeline:/usr/share/logstash/pipeline:ro
    environment:
      - LS_JAVA_OPTS="-Xmx512m -Xms512m"
    ports:
      - "5001:5001/tcp"
      - "5001:5001/udp"
      - "9600:9600"
    networks:
      - citizenconnect_network
    depends_on:
      - elasticsearch

networks:
  citizenconnect_network:
    driver: bridge

volumes:
  complaintservice_database:
  userservice_database:
  elastic_data:
    driver: local
