# spring:
#   application:
#     name: UserService
#   datasource:
#     url: jdbc:mysql://localhost:3306/User_Service?createDatabaseIfNotExist=true
#     username: root
#     password: ManasiP@123


#   jpa:
#     hibernate:
#       ddl-auto: update
#     show-sql: true
#     properties:
#       hibernate:
#         dialect: org.hibernate.dialect.MySQL8Dialect
# server:
#   port: 9091

# eureka:
# #  instance:
# #    prefer-ip-address: true
#   client:
# #    fetch-registry: true
# #    register-with-eureka: true
#     service-url:
#       defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

#
#spring:
#    application:
#      name: UserService
#    datasource:
#      url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/User_Service?createDatabaseIfNotExist=true}
#      username: ${SPRING_DATASOURCE_USERNAME:root}
#      password: ${SPRING_DATASOURCE_PASSWORD:ManasiP@123}
#      driver-class-name: com.mysql.cj.jdbc.Driver
#
#    jpa:
#      hibernate:
#        ddl-auto: update
#      show-sql: true
#      properties:
#        hibernate:
#          dialect: org.hibernate.dialect.MySQL8Dialect
#      generate-ddl: true
#server:
#    port: 9091
#







spring:
  application:
    name: UserService
  datasource:
    url: jdbc:mysql://localhost:3306/User_Service?createDatabaseIfNotExist=true
    username: root
    password: ManasiP@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 9091
  spring:
    cloud:
      gateway:
        globalcors:
          corsConfigurations:
            '[/**]':
              allowedOrigins: "http://localhost:8081"
              allowedHeaders: "*"
              allowedMethods: "*"
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

